
body {
    background-size: 100% 100%;
}

h1 {
    color : #00ff21;
    background-color:  #00ffaa;
    width: 300px;
}
#output {   
  padding-left: 200px;
  padding-top: 100px;
  padding-bottom:  500px;
  background-color: #00ff90;
  font-family: 'Courier New';
  font-size: 30px;
    
}

.intro {
    text-align: center;
    padding-top:  100px;
    padding-bottom:  100px;
    background-image: url("http://www.hd-wallpapers.com/download/blue-background_1920x1080_224-hd.jpg");
    background-position:  40% 40%;
}
.jumbo-text {
    font-size:  50px !important;
    font-family: Calibri;
}
.nav-tabs > li{
    float:none;
    display:inline-block;
}

.nav-tabs{
    text-align:center;
}

.nav li{
    font-size: 20px;
}

#text1 {
    width: 200px;
    border-style: double;
    background-color: #40efc4;
}