
body {
    background-size: 100% 100%;
}
div {

}
h1 {
    color : #00ff21;
    background-color:  #00ffaa;
    width: 300px;
}
.outputbox {
  background-color: #20c335;
  height: 700px;
  width: fill-available;
}

.jumbotron {
    text-align: center;
    background-image: url("http://7-themes.com/data_images/out/34/6886464-green-wallpaper.jpg");
    background-size: cover;
    height: 450px;
}
.jumbo-text {
    font-size:  50px !important;
    color: #fff;
    font-family: sans-serif;
}

.nav-tabs > li{
    float:none;
    display:inline-block;
}

.nav-tabs{
    background-color: #27bd38;
}

.nav li{
    font-size: 20px;
}

#text1 {
    width: 300px;
    height: 50px;
    border-style: double;
    background-color: #94de8c;
    font-size: x-large;
}

#button1{
    width: 90px;
    height: 50px;
    font-size: x-large;
    font-family: sans-serif;
    background-color: #94de8c;
    border-radius: 5px;
    border-style: double;
    border-color: #000;
}